<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
	<select id="cartList" resultType="CartInfoDTO" parameterType="int">
		select cart_code, member_code, cart_amount, cart_size, cart_color, cart_taste, c.item_code, 
		item_category, item_name,  item_price, item_image, i.item_size, i.item_color, i.item_taste
		from cart c, item i where c.item_code = i.item_code and member_code = #{member_code}
	</select>
	<update  id="updateAmount" parameterType="Hashmap">
		update cart set cart_amount = #{cartAmount} where cart_code = #{cartCode}
	</update>
	<delete id="delAll" parameterType="map">
		delete from cart where member_code = #{memberCode} and cart_code in
		<foreach collection="list" separator="," open="(" close=")" item="item">
			#{item}
		</foreach>
	</delete>
	<update id="updateOption" parameterType="HashMap">
		update cart set
		<if test="key.equals('size')">
			cart_size=#{value}
		</if>
		<if test="key.equals('color')">
			cart_color=#{value}
		</if>
		<if test="key.equals('taste')">
			cart_taste=#{value}
		</if>
		where cart_code = #{cartCode}
	</update>
	<select id="OrderAll" resultType="CartInfoDTO" parameterType="list">
		select cart_code, member_code, cart_amount, cart_size, cart_color, cart_taste, c.item_code, 
		item_category, item_name,  item_price, item_image, i.item_size, i.item_color, i.item_taste
		from cart c, item i where c.item_code = i.item_code and cart_code in
		<foreach collection="list" separator="," open="(" close=")" item="item">
			#{item}
		</foreach>
	</select>

	<insert id="cartAdd" parameterType="CartDTO">
	 insert into cart (Cart_Code,Member_Code,Cart_Amount,Item_Code,Cart_Size,Cart_Color,Cart_Taste)
	 values (cart_seq.nextval,#{Member_Code},#{Cart_Amount},#{Item_Code},#{Cart_Size, jdbcType=VARCHAR},
	 #{Cart_Color,jdbcType=VARCHAR},#{Cart_Taste,jdbcType=VARCHAR})
	</insert>
	
	<insert id="cartAddselKey" parameterType="CartDTO" >
	 insert into cart (Cart_Code,Member_Code,Cart_Amount,Item_Code,Cart_Size,Cart_Color,Cart_Taste)
	 values (cart_seq.nextval,#{Member_Code},#{Cart_Amount},#{Item_Code},#{Cart_Size, jdbcType=VARCHAR},
	 #{Cart_Color,jdbcType=VARCHAR},#{Cart_Taste,jdbcType=VARCHAR})
	 
	 	<selectKey keyProperty="Cart_Code" resultType="int" order="AFTER">
	 		select cart_seq.currval from dual
	 	</selectKey>
	</insert>
	
	<select id="selectByCode" resultType="CartInfoDTO"  parameterType="int">
	
	 select Cart_Code, Member_Code,
	 Cart_Amount,Cart_Size,Cart_Color,Cart_Taste,Item_Code,Item_Category,
	 Item_Name, Item_Price, Item_Image, Item_Size, Item_Color, Item_Taste
	 from cart join item
	 using(Item_Code)
	 where Cart_Code=#{Cart_Code}
	
	</select>
	

	
	<delete id="delByCode" parameterType="int">
		delete from cart where Cart_Code=#{Cart_Code}
	
	</delete>
	<insert id="insertItem" parameterType="CartDTO">
		insert into cart values (cart_seq.nextval, #{Member_Code}, #{Cart_Amount},
		 #{Item_Code}, #{Cart_Size, jdbcType=VARCHAR}, #{Cart_Color, jdbcType=VARCHAR}, #{Cart_Taste, jdbcType=VARCHAR})
	</insert>
</mapper>