<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ImageMapper">
	<insert id="insertBoard" parameterType="ImageDTO">
		insert into image(id, mimetype, original_name, data)
		values (tb_image_seq.nextval, #{mimeType}, #{originalName}, #{data})
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT TB_IMAGE_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<select id="findOne" resultType="ImageDTO" parameterType="int">
		select * from image where id=#{id}
	</select>
</mapper>