<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemMapper">
	<select id="itemRetrieve" resultType="ItemDTO" parameterType="String">
		select item_code, item_category, item_name, item_price, 
				item_image, item_size, item_color, item_taste
		from item
		where item_code = #{item_code}
	</select>
	<select id="selectNew" resultType="ItemDTO">
		select * from item where rownum &lt; 5
	</select>
	<select id="selectBest" resultType="ItemDTO" parameterType="list">
		select * from item where item_code in 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</select>
</mapper>