<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderItemMapper">

	
	<select id="selByCode" resultType="OrderItemDTO" parameterType="int">
		select OrderItem_Code,Item_Code,OrderInfo_Code,Member_Code,Order_Name,Cart_Amount,Item_Price,
		Item_Image,Item_Name,Cart_Size,Cart_Color,Cart_Taste
		from orderitem
		where OrderInfo_Code=#{OrderInfo_Code}
	
	</select>
	
	
	
	<insert id="itemOrderDone" parameterType="OrderItemDTO">
		<selectKey keyProperty="OrderInfo_Code" resultType="int" order="BEFORE">
			select orderinfo_seq.currval from dual
		</selectKey>
		insert into orderitem (OrderItem_Code,Item_Code,OrderInfo_Code,Member_Code,Order_Name,Cart_Amount,
		Item_Price,Item_Image,Item_Name,Cart_Size,Cart_Color,Cart_Taste)
		values (orderItem_seq.nextval,#{Item_Code},#{OrderInfo_Code},#{Member_Code},#{Order_Name},
		#{Cart_Amount},#{Item_Price},#{Item_Image},#{Item_Name},#{Cart_Size},#{Cart_Color},#{Cart_Taste})
	</insert>
	
	
	<insert id="orderItemAllDone" parameterType="HashMap">
		<selectKey resultType="int" keyProperty="OrderInfo_Code" order="BEFORE">
			select orderinfo_seq.currval from dual
		</selectKey>
		insert into orderitem (orderitem_code,  item_code,  member_code, order_name,    
			cart_amount, item_price, item_image, cart_size, cart_color, cart_taste, orderinfo_code, item_name)
			select orderitem_seq.nextval, A.* from (
			<foreach collection="list" item="item" separator="UNION ALL ">
			 select  #{item.Item_Code}, #{item.Member_Code}, #{orderName},
			 #{item.Cart_Amount}, #{item.Item_Price}, #{item.Item_Image},
			#{item.Cart_Size, jdbcType=VARCHAR}, #{item.Cart_Color, jdbcType=VARCHAR}, #{item.Cart_Taste, jdbcType=VARCHAR},
			#{OrderInfo_Code}, #{item.Item_Name} from dual
		</foreach>) A
	</insert>
	
	<select id="selAllByinfoCode" parameterType="int" resultType="OrderItemDTO">
		select OrderItem_Code,Item_Code,OrderInfo_Code,Member_Code,Order_Name,Cart_Amount,Item_Price,
		Item_Image,Item_Name,Cart_Size,Cart_Color,Cart_Taste from orderitem
		where orderinfo_code = #{orderInfo_Code}

	</select>
	<select id="selBest" resultType="String" >
		select item_code from (select item_code, count(*) 
		from orderitem group by item_code order by count(*) desc) where rownum &lt; 5
	</select>
</mapper>