<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderInfoMapper">

	<select id="orderHistory" parameterType="String" resultType="OrderHistoryDTO">
	SELECT
	MEMBER_CODE "MEMBER_CODE",
	ITEM_NAME "ITEM_NAME",
	ITEM.ITEM_IMAGE "ITEM_IMAGE",
	ITEM.ITEM_PRICE "ITEM_PRICE",
	ORDERITEM.CART_AMOUNT "CART_AMOUNT",
	ORDERINFO_ORDERDAY "ORDERINFO_ORDERDAY"
	FROM
	ORDERITEM ORDERITEM
	INNER JOIN ORDERINFO ORDERINFO on ORDERITEM.MEMBER_CODE=ORDERINFO.MEMBER_CODE
	INNER JOIN CART CART ON ORDERITEM.MEMBER_CODE=CART.MEMBER_CODE
	INNER JOIN ITEM ITEM ON ORDERITEM.ITEM_CODE=ITEM.ITEM_CODE
	WHERE MEMBER_CODE=111
	</select>
	<select id="OredrDay" parameterType="int" resultType="OrderHistoryDTO">
	SELECT
	MEMBER_CODE "MEMBER_CODE",
	ITEM_NAME "ITEM_NAME",
	ITEM.ITEM_IMAGE "ITEM_IMAGE",
	ITEM.ITEM_PRICE "ITEM_PRICE",
	ORDERITEM.CART_AMOUNT "CART_AMOUNT",
	ORDERINFO_ORDERDAY "ORDERINFO_ORDERDAY",
	ORDERINFO_DELIVERY "ORDERINFO_DELIVERY"
	FROM
	ORDERITEM ORDERITEM
	INNER JOIN ORDERINFO ORDERINFO on ORDERITEM.MEMBER_CODE=ORDERINFO.MEMBER_CODE
	INNER JOIN CART CART ON ORDERITEM.MEMBER_CODE=CART.MEMBER_CODE
	INNER JOIN ITEM ITEM ON ORDERITEM.ITEM_CODE=ITEM.ITEM_CODE
	WHERE MEMBER_CODE=111
	AND ORDERINFO_ORDERDAY >= ADD_DAY(SYSDATE,-#{NUM})
	ORDER BY ORDERINFO_ORDERDAY DESC
	</select>
	<select id="OredrMonth" parameterType="int" resultType="OrderHistoryDTO">
	SELECT
	MEMBER_CODE "MEMBER_CODE",
	ITEM_NAME "ITEM_NAME",
	ITEM.ITEM_IMAGE "ITEM_IMAGE",
	ITEM.ITEM_PRICE "ITEM_PRICE",
	ORDERITEM.CART_AMOUNT "CART_AMOUNT",
	ORDERINFO_ORDERDAY "ORDERINFO_ORDERDAY",
	ORDERINFO_DELIVERY "ORDERINFO_DELIVERY"
	FROM
	ORDERITEM ORDERITEM
	INNER JOIN ORDERINFO ORDERINFO on ORDERITEM.MEMBER_CODE=ORDERINFO.MEMBER_CODE
	INNER JOIN CART CART ON ORDERITEM.MEMBER_CODE=CART.MEMBER_CODE
	INNER JOIN ITEM ITEM ON ORDERITEM.ITEM_CODE=ITEM.ITEM_CODE
	WHERE MEMBER_CODE=111
	AND ORDERINFO_ORDERDAY >= ADD_MONTHS(SYSDATE,- #{NUM})
	ORDER BY ORDERINFO_ORDERDAY DESC
	</select>
	
	
	<select id="selByinfoCode" resultType="OrderInfoDTO" parameterType="int">
		select OrderInfo_Code,Member_Code,OrderInfo_OrderName,OrderInfo_Post,OrderInfo_Addr1,OrderInfo_Addr2,
		OrderInfo_Phone,OrderInfo_PayMethod,OrderInfo_OrderDay,OrderInfo_Delivery
		from orderinfo
		where OrderInfo_Code=#{OrderInfo_Code}
	
	</select>
	
	
	
	<insert id="orderDone" parameterType="OrderInfoDTO">
		insert into orderinfo(orderinfo_code,member_code,orderinfo_ordername,orderinfo_post,orderinfo_addr1,
		orderinfo_addr2,orderinfo_phone,orderinfo_paymethod)
		values(orderinfo_seq.nextval, #{Member_Code}, #{OrderInfo_OrderName},#{OrderInfo_Post},
		#{OrderInfo_Addr1},#{OrderInfo_Addr2},#{OrderInfo_Phone},#{OrderInfo_PayMethod})
		
		<selectKey keyProperty="OrderInfo_Code" resultType="int" order="AFTER">
			select orderinfo_seq.currval from dual
		</selectKey>
	</insert>
	
	
	
	<insert id="orderAllDone" parameterType="OrderInfoDTO">
		insert into orderinfo(orderinfo_code, member_code, orderinfo_ordername, orderinfo_post,
		orderinfo_addr1, orderinfo_addr2, orderinfo_phone, orderinfo_paymethod, orderinfo_orderday, orderinfo_delivery)
		 values (orderinfo_seq.nextval, #{Member_Code},#{OrderInfo_OrderName},
		#{OrderInfo_Post}, #{OrderInfo_Addr1}, #{OrderInfo_Addr2}, #{OrderInfo_Phone},
		#{OrderInfo_PayMethod}, sysdate, #{OrderInfo_Delivery} )
		<selectKey keyProperty="OrderInfo_Code" resultType="int" order="AFTER">
			select orderinfo_seq.currval from dual
		</selectKey>
	</insert>

</mapper>