<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="configFragment">

	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 메타 태그 설정, 키워드, 설명  -->
	<meta name="description" content="강아지용품 전문 쇼핑몰">
	<meta name="keywords" content="강아지용품,강아지간식,강아지식품,목줄,강아지집,강아지장난감,강아지샴푸">
		
	<title>Kkosunnae|강아지용품 전문 쇼핑몰</title>
	<!-- <title layout:title-pattern="$CONTENT_TITLE"></title> -->
	
	<!-- 공통 css -->
	<div th:replace="common/styles"></div>
	

	 
	<!-- 공통 js -->
	<!-- 
 	<div th:replace="common/scripts"></div>
	 -->
	</head>

</th:block>

</html>