<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
   
    	 $("#login").on("click",function(event){		
    		 var mbId = $("#mbId").val();
    		 var pw = $("#pw").val();
    	    		if(mbId.length==0){
    	    			alert("userid 필수")
    	    			$("#mbId").focus();
    	    			event.preventDefault();
    	    		}else if(pw.length==0){
    	    			alert("pw 필수")
    	    			$("#pw").focus();
    	    			event.preventDefault();
    	    		}
    	    		
    	    		  $.ajax({
    	     	    	 url:"login",
    	     	    	 type :'post',
    	     	    	
    	     	    	 dataType:"text",
    	     	    	 /* contentType: "application/json; charset=utf-8", */
    	     	    	 headers:{
    	 				"Content-Type":"application/json"
    	 			   	 },
    	     	    
    	     	    	 data :JSON.stringify({
    	     	    		 mbId : $("#mbId").val(),
    	     	    		 pw : $("#pw").val()
    	     	    	 }) , 
    	     	    	 success : function(data, status, xhr) {
    	 						alert(data);
    	 				 },
    	 				 error : function(xhr, status, error) {
    	 						console.log(error);
    	 						alert(error);
    	 				 }
    	     	     });//ajax 
    	  });
    	 
    	 $("#pwSearch").on("click",function(){
    		 location.href = "PwSearchUIServlet";
    	 });//end click
   });
</script>    
</head>
<body>

<!-- <form action=""> -->


아이디<input type="text" name="mbId" id="mbId"><br>
비밀번호<input type="text" name="pw" id="pw"><br> 
<input type="submit" value="로그인">
<button id="login">로그인</button>
<input type="button" value="아이디찾기" onClick="location.href='MemberIdSearchUIServlet'">

<!-- </form> -->
<button id="pwSearch">비밀번호찾기</button>
</body>
</html>