<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.dao.FileUploadDAO">
	<insert id="insertFile" parameterType="com.example.admin.dto.FileUploadDTO">
		INSERT INTO TB_FILE_UPLOAD(
			IMG_CD
			, IMG_NM
			, SZ
			, DI
			, FL
		) VALUES (
			TB_FILE_UPLOAD_SEQ.NEXTVAL
			, #{imgNm}
			, #{sz}
			, #{di}
			, #{fl}
		)
		<selectKey keyProperty="imgCd" resultType=""Integer"" order="AFTER">
			SELECT 
				TB_FILE_UPLOAD_SEQ.CURRVAL
			FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertInfoFile" parameterType="com.example.admin.dto.ItemInfoDTO">
		INSERT INTO TB_IT_INFO(
			IT_INFO_CD
			, IMG_NM
			, SZ
			, DI
			, FL
			, IT_CD
		) VALUES (
			TB_IT_INFO_SEQ.NEXTVAL
			, #{imgNm}
			, #{sz}
			, #{di}
			, #{fl}
			, #{itCd}
		)
	</insert>
	<update id="updateFile" parameterType="com.example.admin.dto.FileUploadDTO">
		UPDATE
			TB_FILE_UPLOAD
		SET
			IMG_NM = #{imgNm}
			, SZ = #{sz}
			, DI = #{di}
			, FL = #{fl}
		WHERE
			IMG_CD = #{imgCd}		
	</update>
	<update id="updateDetailFile" parameterType="com.example.admin.dto.ItemInfoDTO">
		UPDATE
			TB_IT_INFO
		SET
			IMG_NM = #{imgNm}
			, SZ = #{sz}
			, DI = #{di}
			, FL = #{fl}
		WHERE IT_INFO_CD = #{itInfoCd}
	</update>
	<select id="selectFile" resultType="com.example.admin.dto.FileUploadDTO" parameterType=""Integer"">
		SELECT 
			IMG_CD
			, IMG_NM
			, SZ
			, UP_TM
			, DI
			, FL
		FROM TB_FILE_UPLOAD
		WHERE 
			IMG_CD = #{imgCd}
	</select>
	
	<select id="selectDetailFile" resultType="com.example.admin.dto.ItemInfoDTO" parameterType=""Integer"">
		SELECT
			IT_INFO_CD as itInfoCd
			, IT_CD as itCd
			, IMG_NM as imgNm
			, SZ as sz
			, UP_TM as upTm
			, DI as di
			, FL as fl
		FROM 
			TB_IT_INFO
		WHERE
			IT_INFO_CD = #{imgCd}
	</select>
	
	<delete id="deleteFile" parameterType=""Integer"">
		DELETE
		FROM 
			TB_FILE_UPLOAD
		WHERE
			IMG_CD = #{imgCd}
	</delete>
	
	<delete id="deleteDetailFile" parameterType=""Integer"">
		DELETE
		FROM	
			TB_IT_INFO
		WHERE
			IT_CD = #{itCd}
	</delete>
</mapper>