<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.FileUploadDAO">
	<insert id="insertBoard" parameterType="FileUploadDTO">
		INSERT INTO TB_FILE_UPLOAD(
			IMG_CD
			, IMG_NM
			, SZ
			, DI
			, FL
		) VALUES (
			TB_FILE_UPLOAD_SEQ.NEXTVAL
			, #{imgNm}
			, #{sz}
			, #{di}
			, #{fl}
		)
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT 
				TB_FILE_UPLOAD_SEQ.CURRVAL
			FROM DUAL
		</selectKey>
	</insert>
	<select id="findOne" resultType="FileUploadDTO" parameterType="int">
		select * from image where id=#{id}
		SELECT 
			IMG_CD
			, IMG_NM
			, SZ
			, UP_TM
			, DI
			, FL
		FROM TB_FILE_UPLOAD
		WHERE 
			ID = #{imgCd}
	</select>
</mapper>