<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItemDAO">
	<insert id="insertItem" parameterType="ItemDTO">
		INSERT INTO TB_ITEM(
			IT_CD
			, IMG_CD
			, IT_NM
			, PRICE
			, CAT
		) VALUES (
			TB_ITEM_SEQ.NEXTVAL
			, #{imgCd}
			, #{itNm}
			, #{price}
			, #{cat}
		)
		<selectKey keyProperty="itCd" resultType="int">
			SELECT 
				TB_ITEM_SEQ.CURRVAL 
			FROM DUAL
		</selectKey>
	</insert>
	<select id="selectItem" parameterType="Integer" resultType="ItemDTO">
		SELECT 
		*
		FROM
		(
			SELECT
			ROWNUM "IDX"
			,ORD
			. *
			FROM
			(
				SELECT
				IT_CD as itCd
				, IMG_CD as imgCd
				, IT_NM as itNm
				, PRICE as price
				, CAT as cat
				, TY_CD as tyCd
					FROM TB_ITEM
			WHERE 
			IT_CD = #{itCd}
			ORDER BY IT_CD DESC) "ORD"
			)
			WHERE IDX BETWEEN #{startIdx} AND #{endIdx};
	</select>
	<insert id="favoriteAdd" parameterType="MemberItemDTO">
			 INSERT INTO 
			 MP_MEMBER_ITEM
			 (
			 	MB_ID
			 	,IT_CD
			 )
			 VALUES
			 (
			 #{mbId}
			 ,#{itCd}
			 )
	</insert>
	
	<delete id="favoriteDelete" parameterType="MemberItemDTO">
			DELETE
			FROM
			MP_MEMBER_ITEM
			WHERE 
			MB_ID=#{mbId}
			AND
			IT_CD=#{itCd}
	</delete>
	
	<insert id="insertTyCd" parameterType="RegisterDTO">
		UPDATE 
			TB_ITEM 
		SET 
			TY_CD = #{tyCd}
		WHERE 
			IT_CD = #{itCd}
	</insert>
	
</mapper>