<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.OptionDAO">
	
	<insert id="insertOption" parameterType="OptionDTO">
		INSERT INTO TB_OPTION (
			OPT_CD
			, TY_CD
			, OPT_NM
		) VALUES (
			TB_OPTION_SEQ.NEXTVAL
			, #{tyCd}
			, #{optNm}
		) 	
		<selectKey keyProperty="optCd" resultType="int" order="AFTER">
			SELECT
				TB_OPTION_SEQ.CURRVAL as optCd
			FROM DUAL
		</selectKey>
	</insert>
	
	<select id="selectOption" parameterType="int" resultType="string">
		SELECT 
			OPT_NM as optNm
		FROM TB_OPTION
		WHERE 
			TY_CD = #{tyCd}
	</select>

</mapper>