<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.OptionDAO">
	
	<insert id="insertOptions" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="item" index="index" open="" separator=" " close="SELECT * FROM DUAL">
			INTO TB_OPTION (
				OPT_CD
				, TY_CD
				, OPT_NM
			) VALUES (
				TB_OPTION_SEQ.NEXTVAL
				, #{item.tyCd}
				, #{item.optNm}
			)
		</foreach>
	</insert>
</mapper>