<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Item.dao.OptionDAO">
	
	<insert id="insertOption" parameterType="OptionDTO">
		INSERT INTO 
		TB_OPTION 
				(
				OPT_CD
				, TY_CD
				, OPT_NM
				) 
		VALUES 
				(
				TB_OPTION_SEQ.NEXTVAL
				, #{tyCd}
				, #{optNm}
				)
		<selectKey keyProperty="optCd" resultType="Integer" order="AFTER">
			SELECT
				TB_OPTION_SEQ.CURRVAL AS optCd
			FROM 
				DUAL
		</selectKey>
	</insert>
	
	<insert id="insertOptions" parameterType="list">
		INSERT INTO 
		TB_OPTION 
			(
			OPT_CD
			, TY_CD
			, OPT_NM
			)
		SELECT
			TB_OPTION_SEQ.NEXTVAL
		, T.*
		FROM (
		<foreach collection="list" item="item" index="index"
			separator="UNION ALL">
			SELECT
			#{item.tyCd}
			, #{item.optNm}
			FROM DUAL
		</foreach>
		) T
	</insert>

	<select id="selectOption" parameterType="Integer"
		resultType="com.example.Item.dto.OptionCdNmDTO">
		SELECT
			OPT_NM AS OPT_NM
			, OPT_CD AS OPT_CD
		FROM
			TB_OPTION
		WHERE
			TY_CD = #{tyCd}
	</select>
	<select id="selectTyCd" parameterType="Integer"
		resultType="Integer">
		SELECT
			TY_CD AS TY_CD
		FROM
			TB_OPTION
		WHERE
			OPT_CD = #{optCd}
	</select>

	<delete id="deleteOption" parameterType="Integer">
		DELETE
		FROM
			TB_OPTION
		WHERE
			TY_CD = #{tyCd}
	</delete>

</mapper>