<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.OrderDAO">
	<select id="totalCount" parameterType="String">
		SELECT
		COUNT(*)
		FROM
		MP_CART_ORD
		WHERE MB_ID=#{mbId};
	</select>
	
	<select id="orderSearch" parameterType="OrderSearchDTO" resultType="OrderSearchDTO">
			SELECT
		    *
		    FROM
		    (
		    SELECT
		    ROWNUM "IDX",
		    ORD.*
		    FROM
		    (SELECT
		    CART_CD
		    ,CART_ORD.ORD_CD "ORD_CD"
		    ,CART_ORD.MB_ID "MB_ID"
		    ,CART_ORD.IT_CD "IT_CD"
		    ,IT_NM
		    ,AMOUNT
		    ,CART_ORD.CAT "CAT"
		    ,CART_ORD.PRICE "PRICE"
		    ,CART_ORD.IMG_CD "IMG_CD"
		    ,PAY_TM
		    ,OPT_NM
		    FROM
		    MP_CART_ORD CART_ORD
		    INNER JOIN TB_OPTION TB_OPTION ON
		    CART_ORD.OPT_CD=TB_OPTION.OPT_CD
		    INNER JOIN TB_ITEM ITEM ON
		    CART_ORD.IT_CD=ITEM.IT_CD
		    INNER JOIN TB_ORDER_INFO INFO ON
		    CART_ORD.ORD_CD=INFO.ORD_CD
		    WHERE
		    MB_ID=#{mbId}
		    ORDER BY CART_ORD.CART_CD DESC) "ORD"
		    )
		    WHERE IDX BETWEEN #{startIdx} AND #{endIdx};
	</select>
	
	<select id="daySearch" parameterType="OrderSearchDTO" resultType="OrderSearchDTO">
			SELECT
		    *
		    FROM
		    (
		    SELECT
		    ROWNUM "IDX",
		    ORD.*
		    FROM
		    (SELECT
		    CART_CD
		    ,CART_ORD.ORD_CD "ORD_CD"
		    ,CART_ORD.MB_ID "MB_ID"
		    ,CART_ORD.IT_CD "IT_CD"
		    ,IT_NM
		    ,AMOUNT
		    ,CART_ORD.CAT "CAT"
		    ,CART_ORD.PRICE "PRICE"
		    ,CART_ORD.IMG_CD "IMG_CD"
		    ,PAY_TM
		    ,OPT_NM
		    FROM
		    MP_CART_ORD CART_ORD
		    INNER JOIN TB_OPTION TB_OPTION ON
		    CART_ORD.OPT_CD=TB_OPTION.OPT_CD
		    INNER JOIN TB_ITEM ITEM ON
		    CART_ORD.IT_CD=ITEM.IT_CD
		    INNER JOIN TB_ORDER_INFO INFO ON
		    CART_ORD.ORD_CD=INFO.ORD_CD
		    WHERE
		    MB_ID=#{mbId}
		    AND
		    PAY_TM BETWEEN 
		    TO_DATE(#{startDay}, 'YYYYMMDD') AND TO_DATE(#{endDay}, 'YYYYMMDD')
		    ORDER BY CART_ORD.CART_CD DESC) "ORD"
		    )
		    WHERE IDX BETWEEN #{startIdx} AND #{endIdx};
	</select>
	
	<select id="itemSearch" parameterType="OrderSearchDTO" resultType="OrderSearchDTO">
			SELECT
		    *
		    FROM
		    (
		    SELECT
		    ROWNUM "IDX",
		    ORD.*
		    FROM
		    (SELECT
		    CART_CD
		    ,CART_ORD.ORD_CD "ORD_CD"
		    ,CART_ORD.MB_ID "MB_ID"
		    ,CART_ORD.IT_CD "IT_CD"
		    ,IT_NM
		    ,AMOUNT
		    ,CART_ORD.CAT "CAT"
		    ,CART_ORD.PRICE "PRICE"
		    ,CART_ORD.IMG_CD "IMG_CD"
		    ,PAY_TM
		    ,OPT_NM
		    FROM
		    MP_CART_ORD CART_ORD
		    INNER JOIN TB_OPTION TB_OPTION ON
		    CART_ORD.OPT_CD=TB_OPTION.OPT_CD
		    INNER JOIN TB_ITEM ITEM ON
		    CART_ORD.IT_CD=ITEM.IT_CD
		    INNER JOIN TB_ORDER_INFO INFO ON
		    CART_ORD.ORD_CD=INFO.ORD_CD
		    WHERE
		    MB_ID=#{mbId}
		    AND
		    IT_NM=#{itemNm}
		    ORDER BY CART_ORD.CART_CD DESC) "ORD"
		    )
		    WHERE IDX BETWEEN #{startIdx} AND #{endIdx};
			</select>
</mapper>