<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.OrderDAO">

	<insert id="fastOrderConfirm" parameterType="CartDTO"
		useGeneratedKeys="true" keyProperty="cartCd" keyColumn="CART_CD">
		INSERT INTO
					TB_CART
					(
					CART_CD
					,IT_CD
					,MB_ID
					,AMOUNT
					,OPT_CD
					)
		VALUES
					(
					TB_CART_SEQ.NEXTVAL
					,#{itCd}
					,#{mbId}
					,#{amount}
					,#{optCd}
					)
	</insert>

	<select id="cartOrdJoin" parameterType="CartOrdJoinDTO"
		resultType="CartOrdJoinDTO">
		SELECT
					CART_CD
					,MB_ID
					,TB_CART.IT_CD "IT_CD"
					,AMOUNT
					,PRICE
					,IMG_CD
					,TB_CART.OPT_CD "OPT_CD"
		FROM
					TB_CART TB_CART
					INNER JOIN
					TB_ITEM TB_ITEM ON
					TB_CART.IT_CD = TB_ITEM.IT_CD
		WHERE
					CART_CD = #{cartCd}
	</select>



	<select id="totalCount" parameterType="String">
		SELECT
					COUNT(*)
		FROM
					MP_CART_ORD
		WHERE
					MB_ID=#{mbId}
	</select>

	<update id="cartSearchUnable">
		UPDATE TB_CART
		SET
			AMOUNT = #{amount}
		WHERE
			MB_ID = #{mbId}
		AND
			CART_CD = #{cartCd}
	</update>

	<select id="orderSearch" parameterType="OrderSearchDTO"
		resultType="SearchResultDTO">
		SELECT
		*
		FROM
		(
		SELECT
					ROWNUM "IDX",
					ORD.*
		FROM
		(SELECT
					T_IT_CD
					,CART_CD
					,CART_ORD.IT_CD "IT_CD"
					,IT_NM
					,CART_ORD.IMG_CD "IMG_CD"
					,CART_ORD.PRICE "PRICE"
					,AMOUNT
					,PAY_TM
					,OPT_NM
		FROM
					MP_CART_ORD CART_ORD
					INNER JOIN TB_OPTION TB_OPTION ON
					CART_ORD.OPT_CD=TB_OPTION.OPT_CD
					INNER JOIN TB_ITEM ITEM ON
					CART_ORD.IT_CD=ITEM.IT_CD
					INNER JOIN TB_ORDER_INFO INFO ON
					CART_ORD.ORD_CD=INFO.ORD_CD
		WHERE
		MB_ID=#{mbId}
					ORDER BY CART_ORD.CART_CD DESC)
		"ORD"
		)
		WHERE
		IDX BETWEEN
					#{startIdx}
		AND
					#{endIdx}
	</select>

	<select id="daySearch" parameterType="OrderSearchDTO"
		resultType="SearchResultDTO">
		SELECT
		*
		FROM
		(
		SELECT
					ROWNUM "IDX",
					ORD.*
		FROM
		(SELECT
					T_IT_CD
					,CART_CD
					,CART_ORD.IT_CD "IT_CD"
					,IT_NM
					,CART_ORD.IMG_CD "IMG_CD"
					,CART_ORD.PRICE "PRICE"
					,AMOUNT
					,PAY_TM
					,OPT_NM
		FROM
					MP_CART_ORD CART_ORD
					INNER JOIN TB_OPTION TB_OPTION ON
					CART_ORD.OPT_CD=TB_OPTION.OPT_CD
					INNER JOIN TB_ITEM ITEM ON
					CART_ORD.IT_CD=ITEM.IT_CD
					INNER JOIN TB_ORDER_INFO INFO ON
					CART_ORD.ORD_CD=INFO.ORD_CD
		WHERE
					MB_ID=#{mbId}
		AND
					(
					IT_NM=#{itNm}
		OR
					#{itNm} IS NULL
	    OR
	    			#{itNm}=''
		OR
					IT_NM='default'
					)

		AND
					IT_NM=#{itNm}
		AND
					PAY_TM BETWEEN
					TO_DATE(#{startDay}, 'YYYYMMDD')
		AND
					TO_DATE(#{endDay}, 'YYYYMMDD')
					ORDER BY CART_ORD.CART_CD DESC) "ORD"
		)
		WHERE
					IDX
		BETWEEN
					#{startIdx}
		AND
					#{endIdx}
	</select>



	<insert id="dlvyInfo" parameterType="DeliveryInfoDTO" useGeneratedKeys="true" keyColumn="DLVY_CD" keyProperty="dlvyCd">
	<selectKey keyProperty="dlvyCd" resultType="Integer" order="BEFORE">
		SELECT
			TB_DELIVERY_INFO_SEQ.NEXTVAL
		FROM
			DUAL
	</selectKey>

		INSERT INTO
				TB_DELIVERY_INFO
				(
				DLVY_CD
				,COM
				,INV
				)
		VALUES
				(
				 #{dlvyCd}
				,'CJ'
				,#{inv}
				)
	</insert>

	<insert id="ordInfo" parameterType="OrderInfoDTO" useGeneratedKeys="true" keyProperty="ordCd" keyColumn="ORD_CD">

		<selectKey keyProperty="ordCd" resultType="Integer"
			order="BEFORE">
			SELECT
					TB_ORDER_INFO_SEQ.NEXTVAL
			FROM
					DUAL
		</selectKey>

		INSERT INTO
		TB_ORDER_INFO
		(
				ORD_CD
				,DLVY_CD
				,ORD_NM
				,ORD_POST
				,ORD_ADDR1
				,ORD_ADDR2
				,ORD_TEL
				,PAY_METH
		)
		VALUES
		(
				#{ordCd}
				,#{dlvyCd}
				,#{ordNm}
				,#{ordPost}
				,#{ordAddr1}
				,#{ordAddr2}
				,#{ordTel}
				,#{payMeth}
		)

	</insert>

	<select id="searchCount" resultType="Integer">
		SELECT
		MAX(T_IT_CD) "seachCountTItCd"
		FROM
		MP_CART_ORD
	</select>

	<insert id="orderDone" parameterType="CartOrdDTO" useGeneratedKeys="true" keyColumn="T_IT_CD" keyProperty="tItCd">
		INSERT INTO
		MP_CART_ORD
		(
				T_IT_CD
				,CART_CD
				,ORD_CD
				,MB_ID
				,IT_CD
				,AMOUNT
				,PRICE
				,IMG_CD
				,OPT_CD
		)
		VALUES
		(
				#{tItCd}
				,#{cartCd}
				,#{ordCd}
				,#{mbId}
				,#{itCd}
				,#{amount}
				,#{price}
				,#{imgCd}
				,#{optCd}
		)

	</insert>

	<select id="cartOrdSet" parameterType="Integer" resultType="CartOrdJoinDTO">
		SELECT
				CART_CD
				,MB_ID
				,TB_CART.IT_CD "IT_CD"
				,AMOUNT
				,PRICE
				,IMG_CD
				,TB_CART.OPT_CD "OPT_CD"
		FROM
		TB_CART TB_CART
		INNER JOIN
				TB_ITEM TB_ITEM ON
				TB_CART.IT_CD = TB_ITEM.IT_CD
		WHERE
				CART_CD = #{cartCd}
	</select>

	<select id="orderDoneValueList" parameterType="Integer"
		resultType="OrderDoneDTO">
		SELECT
				T_IT_CD
				,CART_CD
				,TB_ORDER_INFO.ORD_CD
				,MB_ID
				,IT_CD
				,AMOUNT
				,PRICE
				,IMG_CD
				,OPT_CD
				,ORD_NM
				,ORD_TEL
				,PAY_METH
		FROM
				TB_ORDER_INFO
		INNER JOIN
				(
				SELECT
				T_IT_CD
				,CART_CD
				,ORD_CD
				,MB_ID
				,IT_CD
				,AMOUNT
				,PRICE
				,IMG_CD
				,OPT_CD
				FROM
				MP_CART_ORD
		WHERE
				T_IT_CD = #{tItCd}
				) MP_CART_ORD
		ON
				TB_ORDER_INFO.ORD_CD = MP_CART_ORD.ORD_CD

	</select>

	<update id="updateTM" parameterType="Integer">

		UPDATE
				TB_DELIVERY_INFO
		SET
				TB_DELIVERY_INFO.DLVY_END =

		(SELECT
				 DLVY_END
		FROM 	(
		SELECT
		   		 TB_UP_TM.DLVY_END
		FROM
		   		 TB_UP_TM
		WHERE TB_UP_TM.DLVY_CD=#{dlvyCd}
		)

		WHERE
		TB_DELIVERY_INFO.DLVY_CD=#{dlvyCd};

	</update>

		<!-- <select id="itemSearch" parameterType="OrderSearchDTO"
		resultType="SearchResultDTO">
		SELECT
		*
		FROM
		(
		SELECT
		ROWNUM "IDX",
		ORD.*
		FROM
		(SELECT
		CART_CD
		,CART_ORD.ORD_CD "ORD_CD"
		,CART_ORD.MB_ID "MB_ID"
		,CART_ORD.IT_CD "IT_CD"
		,IT_NM
		,AMOUNT
		,CART_ORD.CAT "CAT"
		,CART_ORD.PRICE "PRICE"
		,CART_ORD.IMG_CD "IMG_CD"
		,PAY_TM
		,OPT_NM
		FROM
		MP_CART_ORD CART_ORD
		INNER JOIN TB_OPTION TB_OPTION ON
		CART_ORD.OPT_CD=TB_OPTION.OPT_CD
		INNER JOIN TB_ITEM ITEM ON
		CART_ORD.IT_CD=ITEM.IT_CD
		INNER JOIN TB_ORDER_INFO INFO ON
		CART_ORD.ORD_CD=INFO.ORD_CD
		WHERE
		MB_ID=#{mbId}
		AND
		IT_NM=#{itNm}
		AND
		PAY_TM BETWEEN
		TO_DATE(#{startDay}, 'YYYYMMDD')
		AND
		TO_DATE(#{endDay}, 'YYYYMMDD')
		ORDER BY CART_ORD.CART_CD DESC) "ORD"
		)
		WHERE IDX BETWEEN #{startIdx} AND #{endIdx}
	</select> -->
</mapper>